<div class="full-width" class="new-database" fxFlex.gt-sm="400px">
    <div fxLayout="row" class="custom-modal-header" fxLayoutAlign="center center" style="padding: 0; height: unset">
        <h2 class="header-text" style="text-align: center;">
            <b>Assign for Review</b>
        </h2>
    </div>
    <div class="p-20">
        <form [formGroup]="newForm" name="assign-team">
            <mat-label class="label">Select Team Member:</mat-label>
            <div style="width: 100%; margin: 10px 0 10px 0;" appearance="outline">
                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-select formControlName="assignedUser">
                        <mat-option *ngFor="let member of members;" [value]="member.id">
                            {{member.first_name}} {{member.last_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <button
                    mat-raised-button
                    color="primary"
                    class="assign-btn"
                    (click)="onAssign()"
                    [disabled]="newForm.invalid">Assign</button>
                <button
                    mat-raised-button
                    color="warn"
                    class="assign-btn"
                    (click)="dialogRef.close()">Cancel</button>
            </div>
        </form>
    </div>
</div>
