<div class="inventory-control cursor-pointer" fxLayout="column"  (click)="clickExpand()"
     fxLayoutAlign="center center">
    <img src="assets/images/inventory/icon_databases.svg">
    <div class="mt-8">Database</div>
    <button *ngIf="expanded" (click)="accordion.closeAll()" mat-button class="user-button">
        <div>
            <mat-icon color="warn" class="s-40">keyboard_arrow_down</mat-icon>
        </div>
    </button>
    <button *ngIf="!expanded" (click)="accordion.openAll()" mat-button class="user-button">
        <div>
            <mat-icon color="warn" class="s-40">keyboard_arrow_up</mat-icon>
        </div>
    </button>
</div>
<mat-accordion class="expansion-custom" multi>
    <mat-expansion-panel>
        <mat-list>
            <div class="menu-list-igor">
                <div *ngFor="let database of databases">
                    <mat-list-item>
                        <span fxFlex="1 0 auto">{{database.name}}</span>
                        <button fxFlex="0 1 auto" (click)="selectedDatabase=database" mat-button [matMenuTriggerFor]="sampleMenu" class="user-button">
                            <div>
                                <mat-icon class="s-20">keyboard_arrow_down</mat-icon>
                            </div>
                        </button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <mat-list-item *ngIf="user.user_role===1" class="cursor-pointer" (click)="createDatabase()">
                <span fxFlex="1 0 auto">Add New Database</span>
                <button fxFlex="0 1 auto" mat-button class="user-button">
                    <div>
                        <mat-icon class="s-20">add</mat-icon>
                    </div>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<mat-menu class="member-menu" #sampleMenu="matMenu" [overlapTrigger]="false">
    <a style="text-decoration: none" routerLink="/pages/inventories/{{selectedDatabase?.id}}/samples/read" mat-menu-item>
        <mat-icon class="s-20">pageview</mat-icon>
        <span>Open as read-only</span>
    </a>
    <a style="text-decoration: none" routerLink="/pages/inventories/{{selectedDatabase?.id}}/samples/edit" mat-menu-item>
        <mat-icon class="s-20">edit</mat-icon>
        <span>Open in edit mode</span>
    </a>
    <a style="text-decoration: none" *ngIf="user.user_role===1" routerLink="/pages/inventories/{{selectedDatabase?.id}}/samples/admin" mat-menu-item>
        <mat-icon class="s-20">account_circle</mat-icon>
        <span>Open as admin</span>
    </a>
</mat-menu>
