@mixin app-new-cell-culture-event-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $is-blind: map-get($theme, is-blind);
    $is-default: map-get($theme, is-default);
    app-new-cell-culture-event {
        .new-event-form {
            @if ($is-dark) {
                color: white;
            } @else {
                color: mat-color($default-mode, primary);
            }
        }

        .new-event-form-option {
            @if ($is-dark) {
                border-top: 2px solid grey;

            } @else {
                border-top: 2px solid #dcdcdc;
            }
        }
    }
}
