.invite-header {
    background: #455a64 !important;
    color: white;
    font-weight: bold;
    padding: 20px;
    &-title {
        font-weight: bold;
    }
}
.invite-body {
    padding: 20px;
    &-message {
        padding: 20px 0px;
    }
}

.mat-dialog-container{
    padding: 0px!important;
    overflow-x: hidden;
}

mat-spinner {
  zoom: 0.4
}