.max-height {
    padding: 20px 0px!important;
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: auto;
}
.vial-title{
    margin: auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
}
.spinner-custom {
    position: absolute;
    right: 4px;
    margin: auto;
}
.location-custom {
    display: flex;
}