<div class="full-width" class="new-event" fxFlex.gt-sm="600px">
    <div fxLayout="row" class="custom-modal-header" fxLayoutAlign="space-between center">
        <h2 class="new-db-header">
            Remove Cell Line
        </h2>
        <button class="custom-header-close" mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="p-20">
        <form name="loginForm" fxLayout="column" class="new-event-form" [formGroup]="newForm">
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Select date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="selected_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="newForm.get('selected_date').hasError('required')">
                    Cell Line Name is required
                </mat-error>
            </mat-form-field>
            <mat-label>Remove Reason:</mat-label>
            <mat-radio-group class="mb-20" formControlName="remove_reason" fxLayout="column">
                <mat-radio-button class="new-event-form-sub-option" value="no_longer_needed">
                    No longer needed
                </mat-radio-button>
                <mat-radio-button class="new-event-form-sub-option" value="contaminated">
                    Contaminated
                </mat-radio-button>
                <mat-radio-button class="new-event-form-sub-option" value="died">
                    Died
                </mat-radio-button>
                <mat-radio-button class="new-event-form-sub-option" value="frozen_down">
                    Frozen down
                </mat-radio-button>
                <mat-radio-button class="new-event-form-sub-option" value="all_used">
                    All used for experiment
                </mat-radio-button>
                <mat-radio-button class="new-event-form-sub-option" value="other">
                    <span>Other&nbsp;&nbsp;&nbsp;</span>
                    <mat-form-field *ngIf="newForm.value['remove_reason'] === 'other'" appearance="outline">
                        <mat-label>Text field:</mat-label>
                        <input matInput formControlName="reason_other" type="text">
                    </mat-form-field>
                </mat-radio-button>
            </mat-radio-group>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-raised-button color="primary" (click)="create()"
                        [disabled]="newForm.invalid || submitted">
                    Remove
                </button>
                <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
            </div>
        </form>
    </div>
</div>
