<div class="page-layout carded fullwidth page-bg main-bg">
    <!-- CENTER -->
    <div class="center ">
        <!-- HEADER -->
        <div class="header custom-header"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-icon class="logo-icon s-32 mr-16 private" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    dashboard
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{isAdmin ? 'Admin Dashboard' : 'My Team'}}
                </span>
            </div>
            <!-- / APP TITLE -->
            <div class="opacity-bg"></div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="p-20 content-bg">
            <header class="group-header toolbar p-20" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title-custom">{{members.length}} Team Members</div>
                <a *ngIf="isAdmin" class="add-custom" (click)="addMember()">
                    Add new team member
                    <mat-icon class="logo-icon">
                        add
                    </mat-icon>
                </a>
            </header>
            <div class="content-custom" fxLayout="row wrap" [@animateStagger]="{value:'50'}">
                <div *ngFor="let mem of members" fxFlex="100" fxFlex.gt-md="50"
                     fxFlex.gt-md="25" [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="m-12" class="content-custom-item" fxLayout="column" fxFlex="1 1 auto">
                        <app-member-card *ngIf="isAdmin" [member]="mem" [members]="members"></app-member-card>
                        <app-team-member-card *ngIf="!isAdmin" [member]="mem" [members]="members"></app-team-member-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- / CONTENT CARD -->

        <!-- CONTENT CARD -->
        <div class="p-20 content-bg">
            <header class="group-header toolbar p-20" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title-custom">Former Team Members</div>
            </header>
            <div class="content-custom" fxLayout="row wrap" fxLayoutAlign="start center" [@animateStagger]="{value:'50'}">
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>