@mixin app-project-history-view-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $is-blind: map-get($theme, is-blind);
    app-project-history-view {
        .phv-view-day {
            @if ($is-dark) {
                background: mat-color($blind-mode, warn);
            } @else if ($is-blind) {
                background: mat-color($blind-mode, warn);
            } @else {
                background: mat-color($default-mode, warn);
            }
        }
        .phv-view-row-panel {
            @if ($is-dark) {
                background: mat-color($dark-mode, content-bg);
            } @else {
                background: white;
            }
        }
        .phv-view-bg {
            @if ($is-dark) {
                background: white;
            } @else {
                background: black;
            }
        }
    }
}