.delete-title {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  color: #0b2b3a;
}
.delete-description{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: #0b2b3a;
}
.delete-name {
    font-weight: bold;
    font-size: 18px;
}
