<div class="reset-pwd"  fxLayout="column">
    <div id="form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="form-header">
                <img class="big" src="assets/images/logos/logo.svg">
            </div>

            <div class="description">
                <div class="YOUR-SESSION-WAS-LOCKED">RESET PIN</div>
                <div class="Enter-your-password-to-return-to-your-session">
                    Please enter your new pin here.
                </div>
            </div>
            <form name="lockForm" [formGroup]="resetPinForm" novalidate (ngSubmit)="submit()">
                <div fxLayout="column">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>PIN</mat-label>
                        <input matInput type="password" formControlName="new_pin">
                        <mat-error>
                            Invalid PIN
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Confirm PIN</mat-label>
                        <input matInput type="password" formControlName="confirmPin" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPinForm.hasError('notSame')">
                            PINS do not match
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="error" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="UNLOCK" [disabled]="resetPinForm.invalid">
                    RESET
                </button>
            </form>

        </div>
    </div>
</div>