<div class="page-layout carded fullwidth page-bg main-bg">
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header custom-header"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon class="logo-icon s-32 mr-16 private" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        rate_review
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Samples
                    </span>
                </div>
                <mat-form-field style="min-width: 50px" appearance="legacy">
                  <mat-select [(ngModel)]="selectedDatabaseId" (ngModelChange)="onSelectDatabase()" disableRipple>
                    <mat-option *ngFor="let database of databases" [value]="database.id">{{database.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <!-- / APP TITLE -->
            <div>
                <button  *ngIf="mode==='admin'" color="warn" mat-raised-button class="mr-12"  [disabled]="!databases?.length" (click)="editDatabase()">Edit Database Columns</button>
                <button *ngIf="mode!=='read'" color="warn" class=" mr-4" mat-raised-button (click)="createNewSample()">
                    Add New Sample
                    <mat-icon class="cursor-pointer">add</mat-icon>
                </button>
            </div>
            <div class="opacity-bg"></div>
        </div>
        <!-- / HEADER -->
        <div class="content content-bg content-overflow">
            <div *ngIf="filter?.column" fxLayout="row" class="p-4 ml-12" fxLayoutAlign="start start">
                <div *ngIf="filter?.column"><span class="filter-label mr-4">Column:</span> <span class="filter-label mr-12">{{filterColumnName}}</span></div>
                <div *ngIf="filter?.sortMode"><span class="filter-label  mr-4">Sort:</span> <span class="filter-label mr-12">{{filter?.sortMode === 'value' ? 'Ascending' : 'Descending'}}</span></div>
                <div *ngIf="filter?.searchText"><span class="filter-label mr-4">Search:</span>  <span class="filter-label mr-12">{{filter?.searchText}}({{filterModes[filter?.filterMode]}})</span></div>
                <div *ngIf="filter?.filterDate"><span class="filter-label mr-4">Search:</span>  <span class="filter-label mr-12">{{filter?.filterDate | date : 'MMM dd, yyyy'  }}</span></div>
                <div><mat-icon class="cursor-pointer" (click)="resetFilter()">close</mat-icon></div>
            </div>
            <div *ngIf="columns?.length">
                <div class="p-4 inventory-table-header" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="50px" class="inventory-table-header-first">
                    </div>
                    <div fxFlex="150px" class="inventory-table-uid" fxLayout="row" fxLayoutAlign="space-between center">
                        Sample ID
                    </div>
                    <app-header-item fxFlex="200px" [fxFlex.gt-sm]="headerItemFlex"
                                     *ngFor="let column of columns"
                                     (submitFilterOpen)="submitFilterOpen($event)"
                                     [selected]="column.id==filter?.column"
                                     [itemData]="column"></app-header-item>
                    <div fxFlex="200px" class="inventory-table-uid" fxLayout="row" fxLayoutAlign="space-between center">
                        Removed from Storage
                    </div>
                </div>
                <div class="p-4 inventory-table-content" fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">
                        <div [class]="sample.status == 0 ? 'exp-column' : 'exp-column canceled'" class="exp-column"
                             fxLayout="row" fxLayoutAlign="start center"
                             *ngFor="let sample of samples; let i = index">
                            <div fxFlex="50px"  class="inventory-table-row-first">
                                <button [disabled]="sample.status == 1 || mode==='read'" mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon class="cursor-pointer">filter_none</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button (click)="createNewSample(sample)" mat-menu-item>
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit Sample</span>
                                    </button>
                                    <button (click)="closeSample(sample)" mat-menu-item>
                                        <mat-icon>delete_forever</mat-icon>
                                        <span>Cancel Sample</span>
                                    </button>
                                </mat-menu>
                            </div>
                            <div [class]="i % 2 == 1 ? 'inv-column-item' : 'inv-column-item-selected'" fxFlex="150px">
                                {{sample.uid}}
                            </div>
                            <div  [class]="i % 2 == 1 ? 'inv-column-item' : 'inv-column-item-selected'"
                                  fxFlex="150px" [fxFlex.gt-sm]="headerItemFlex"
                                  *ngFor="let column of columns">
                                <span style="word-break: break-all" *ngIf="column.default">{{sample['location'][column.name]}}</span>
                                <span style="word-break: break-all" *ngIf="!column.default">{{[sample['column_data'], column] | columnValue}}</span>
                            </div>
                            <div [class]="i % 2 == 1 ? 'inv-column-item' : 'inv-column-item-selected'" fxFlex="200px">
                                <span *ngIf="sample.status == 1">{{sample.user}} {{sample.updated_at | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mr-40" >
                <mat-paginator [length]="expCount"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="updatedPage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
    <!-- / CENTER -->

</div>
