.form-header {
    background: #75a6c9;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.mat-dialog-container{
    padding: 0px!important;
    overflow-x: hidden;
}