@mixin file-manager-theme($theme) {

    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    file-list {
        .mat-table {

            .mat-row {

                &.selected {
                    @if ($is-dark) {
                        background: map-get($background, hover);
                    } @else {
                        background: map-get($accent, 50);
                    }
                }
            }
        }
    }
    file-manager {
        .image-bg {
            @if ($is-dark) {
            } @else {
                background-image: url("assets/images/common/banner.jpg");
                background-color: #e1e2e4;
            }
        }
    }
}