<div class="full-width" fxFlex.gt-sm="400px" class="new-experiment">
    <div fxLayout="row" class="custom-modal-header" fxLayoutAlign="space-between center">
        <h2 class="custom-modal-header">Open Storage Location</h2>
        <button class="custom-header-close" mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div  class="p-20">
        <form fxLayout="column" class="p-20" fxLayoutAlign="space-evenly stretch" name="newForm"
              [formGroup]="newForm" novalidate>
            <mat-form-field fxFlex="100"  appearance="outline">
                <mat-label>Associate with database:</mat-label>
                <mat-select  disabled [(ngModel)]="selectedDatabase" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSelectDatabase()">
                    <mat-option *ngFor="let database of databases" [value]="database">{{database.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100"  appearance="outline">
                <mat-label>Storage temperature:</mat-label>
                <mat-select disabled [(ngModel)]="selectedTemperature"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSelectTemperature()">
                    <mat-option *ngFor="let storageTemperature of storageTemperatures"
                                [value]="storageTemperature">{{storageTemperature.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100"  appearance="outline">
                <mat-label>Equipment:</mat-label>
                <mat-select [(ngModel)]="selectedEquipment" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSelectEquipment()">
                    <mat-option *ngFor="let equipment of equipments" [value]="equipment">{{equipment.name}}</mat-option>
                </mat-select>
            </mat-form-field>
             <mat-form-field *ngIf="isTower" fxFlex="100" appearance="outline">
                <mat-label>Tower:</mat-label>
                <mat-select [(ngModel)]="selectedTower" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSelectTower()">
                    <mat-option *ngFor="let allocateTower of allocateTowers"
                                [value]="allocateTower">Tower {{allocateTower['allocate_tower']}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100"  appearance="outline">
                <mat-label>Storage type:</mat-label>
                <mat-select [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onSelectStorageType()">
                    <mat-option *ngFor="let storageType of storageTypes"
                                [value]="storageType">{{storageType}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Allocate Number:</mat-label>
                <mat-select formControlName="id">
                    <mat-option *ngFor="let allocateNumber of allocateNumbers"
                                [value]="allocateNumber['id']">{{allocateNumber['allocate_number']}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <button *ngIf="mode==='read'" fxFlex="100" fxFlex.gt-sm="45" [disabled]="newForm.invalid"
                        (click)="submit()" mat-raised-button color="accent" >
                    Open
                </button>
                <button *ngIf="mode==='edit'" fxFlex="100" fxFlex.gt-sm="45" [disabled]="newForm.invalid"
                        (click)="edit()"
                        mat-raised-button color="accent" >
                    Edit
                </button>
                <button  *ngIf="mode==='delete'" fxFlex="100" fxFlex.gt-sm="45" [disabled]="newForm.invalid"
                         (click)="delete()"
                         mat-raised-button color="warn" >
                    Delete
                </button>
                <button fxFlex="100" fxFlex.gt-sm="45" fxFlexOffset.gt-sm="10" (click)="close()" type="button" mat-raised-button>
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>