.box {
    width: 250px;
    padding: 15px;
}
.title {
    color: #0B2B3A;
    font-size: 18px;
    font-weight: bold;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
}
.example-radio-button {
    margin-top: 5px;
}
