@mixin app-mission-inventory-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $is-blind: map-get($theme, is-blind);
    $is-default: map-get($theme, is-default);
    app-mission-inventory {
        .mission-dot {
            @if ($is-dark or $is-blind) {
                background-color: mat-color($dark-mode, warn);
            } @else {
                background-color: mat-color($default-mode, warn);
            }
        }

        .create-event {
            @if ($is-dark) {
                background: mat-color($dark-mode, main-bg);
                color: mat-color($dark-mode, warn);
            } @else if ($is-blind) {
                background: mat-color($default-mode, content-bg);
                color: mat-color($dark-mode, warn);
            } @else {
                background: mat-color($default-mode, content-bg);
                color: mat-color($default-mode, warn);
            }
        }

        .mission-panel-header {
            @if ($is-dark or $is-blind) {
                color: mat-color($dark-mode, warn);
            } @else {
                color: mat-color($default-mode, warn);
            }
        }

        .mi-action {
            @if ($is-dark) {
                background: mat-color($dark-mode, main-bg) !important;
            } @else {
                background: #e0dede !important;
            }

            &-divider {
                @if ($is-dark) {
                    background: #c2c1c1 !important;
                } @else {
                    background: #c2c1c1 !important;
                }
            }

            mat-icon {
                @if ($is-dark) {
                    color: mat-color($dark-mode, warn);
                } @else if ($is-blind) {
                    color: mat-color($default-mode, primary);
                } @else {
                    color: mat-color($default-mode, warn);
                }
            }
        }

        mat-expansion-panel {
            @if ($is-dark) {
                color: white;
            } @else {
                color: mat-color($default-mode, primary) !important;
            }
        }
    }
}
