@import "src/@fuse/scss/fuse";

.display-day {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background: white;
    color: mat-color($default-mode, primary);
    width: 45px;
    height: 45px;
    &-date {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .day-order {
        font-size: 12px;
        transform: translateY(-3px);
    }
    .divider-line {
        margin: 0 3px;
        height: 1px;
        background: mat-color($default-mode, primary);
    }
}
.today {}
.week-day {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
}