.form-title {
    padding: 10px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
}

// input css
.e-sign-btn {
    width: 140px;
    height: 40px;
}

.header-text {
    color: #f0f0f0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
}
