.custom-header {
    //background: transparent;
}

.content-bg {
    background: transparent;
}

.manager-daily-task {
    z-index: 1000;
    transform: translateY(-50px);
}

.manager-task-list {
    z-index: 1000;
    transform: translateY(-50px);
}