@mixin profile-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $is-blind: map-get($theme, is-blind);
    $is-default: map-get($theme, is-default);
    app-profile {
        .custom-header {
            @if ($is-dark) {
                background-color: mat-color($dark-mode, light-bg);
                color: rgba(255, 255, 255, 0.54);
                .logo-text {
                    font-size: 25px;
                    font-weight: bold!important;
                    color: rgba(255, 255, 255, 0.54);
                }
            } @else {
                //background-color: mat-color($default-mode, light-bg);
                color: mat-color($default-mode, primary);
                .logo-text {
                    font-size: 25px;
                    font-weight: bold!important;
                    color: #0b2b3a;
                }
            }
        }
        .update-image a{
            @if ($is-dark) {
                color: white;
            } @else  {
                color: mat-color($default-mode, accent)!important;
            }
        }
        .p-sub-title {
            @if ($is-dark) {
                color: mat-color($dark-mode, warn);
                background: mat-color($dark-mode, content-bg);
            } @else if($is-blind) {
                color: mat-color($dark-mode, warn);
                background: #e1e2e4;
            } @else  {
                color: #f07261;
                background: #e1e2e4;
            }
        }
        .change-pwd {
            @if ($is-dark) {
                background-color: mat-color($dark-mode, light-bg);
                color: white;
            } @else  {
                background-color: mat-color($default-mode, accent);
                color: white!important;
            }
        }
        .border {
            @if ($is-dark or $is-blind) {
                border-top: 1px mat-color($dark-mode, warn) solid;
            } @else {
                border-top: 1px #f07261 solid;
            }
        }
        .content-bg {
            @if ($is-dark) {
                background: mat-color($dark-mode, content-bg);
            } @else {
                //background: mat-color($default-mode, content-bg);
            }
        }
    }
}
