<div>
    <div class="cal-title">
        Volume from Mass and concentration:
    </div>
    <div class="border"></div>
</div>
<div class="calculator" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="mb-12"  fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="100" fxFlexOffset.gt-sm="20" fxFlex.gt-sm="60" class="calculator-item" fxLayout="row"
             fxLayoutAlign="start center">
            <label fxFlex="20">Mass:</label>
            <input type="number" fxFlex="50" matInput name="mass" [(ngModel)]="mass"
                   [ngModelOptions]="{standalone: true}" (ngModelChange)="calcResult()">
            <mat-select fxFlexOffset="10" fxFlex="20" name="mass-unit" [(ngModel)]="massUnit"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="calcResult()">
                <mat-option *ngFor="let conUnit of massUnitList"
                            [value]="conUnit.value">{{conUnit.name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="mb-12"  fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="100" fxFlexOffset.gt-sm="20" fxFlex.gt-sm="60" class="calculator-item" fxLayout="row"
             fxLayoutAlign="start center">
            <label fxFlex="20">Formula weight:<br>(g/mol)</label>
            <input type="number" fxFlex="50" matInput name="mass" [(ngModel)]="formulaWeight"
                   [ngModelOptions]="{standalone: true}" (ngModelChange)="calcResult()">
        </div>
    </div>
    <div class="mb-12"  fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="100" fxFlexOffset.gt-sm="20" fxFlex.gt-sm="60" class="calculator-item" fxLayout="row"
             fxLayoutAlign="start center">
            <label fxFlex="20">Concentration:</label>
            <input type="number" fxFlex="50" matInput name="mass" [(ngModel)]="con"
                   [ngModelOptions]="{standalone: true}" (ngModelChange)="calcResult()">
            <mat-select fxFlexOffset="10" fxFlex="20" name="mass-unit" [(ngModel)]="conUnit"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="calcResult()">
                <mat-option *ngFor="let conUnit of conUnitList"
                            [value]="conUnit.value">{{conUnit.name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="mb-12"  fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="100" fxFlexOffset.gt-sm="20" fxFlex.gt-sm="60" class="calculator-item mt-24" fxLayout="row"
             fxLayoutAlign="start center">
            <div class="calculator-result-label" fxFlex="20">Required volume:</div>
            <div *ngIf="!calcImpossible" fxFlex="50" class="calculator-result-panel">
                {{requiredVol}} {{requiredVolUnit}}
            </div>
            <div *ngIf="calcImpossible" fxFlex="50" class="calculator-result-panel">
                Not Possible!
            </div>
        </div>
    </div>
</div>