<div>
    <div class="invite-header">
        <h1 class="invite-header-title">Invitation</h1>
        <div>To {{company.email}}</div>
    </div>
    <div class="invite-body">
        <p>Hello, How are you. We would like to invite you to our Igor personal Lab Assistant. <br>
            Please use below link to register to our website.</p>
        <div>
            <button mat-raised-button color="accent" (click)="sendInvitation()">
                Send Invitation
            </button>
        </div>
    </div>
</div>